body,
html {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #005c91;
  padding: 0.5em 1em;
}

header h1 {
  flex-grow: 1;
}

header .menuitem {
  padding: 0;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  vertical-align: baseline;
  color: #fff;
  text-decoration: none;
}

header nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

main {
  padding: 0.5em 1em;
  max-width: 800px;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 1em;
}

.product h2 {
  margin: 0;
}

.product img {
  width: 100%;
}

.product .sku {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}

.product .description {
  flex-grow: 1;
}

.product .price {
  text-align: right;
  font-weight: bold;
}

.product button {
  width: 100%;
  border: 1px solid #00446b;
  color: #fff;
  background-color: #005c91;
  border-radius: 5px;
  padding: 0.5em 1em;
}
